[submodule "isl"]
	path = isl
	url = https://github.com/ChieloNewctle/isl
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/apache/tvm.git
[submodule "3rdparty/isl"]
	path = 3rdparty/isl
	url = https://github.com/ChieloNewctle/isl.git
